p {
  color: red;
  font-size: 20px;
  text-align: center;
}

td,
th,
caption,
table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
  border-spacing: 10px;
}
